# .gitignore
# ©AngelaMos | 2026

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.pyc
*.pyo
*.log
logs/

.venv

.env
.env.prod

.coverage
.pytest_cache/
htmlcov/
.tox/
.coverage.*
*.cover
*.mypy_cache/
*.ruff_cache/
*.pylint_cache/
*.pytest_cache/
*.cache

storage/uploads/**
!storage/uploads/.gitkeep
storage/test_uploads/**
!storage/test_uploads/.gitkeep

node_modules/
pnpm-debug.log*
/node_modules/
*.vite/
.vite/

# Too much data
backend/tests/videos/

