# .pre-commit-config.yaml

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: [--fix, --ignore=PLC0415]
        files: ^backend/
      - id: ruff-format
        files: ^backend/
